﻿<div id="sidebar">                              
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="WeatherForecast" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>
        </Items>
    </DxMenu>
</div>